/* @media (width > 960px) == 33% */
.pag-inicial {
  text-align: center;
  width: calc(100% / 3);
}

/* PHONE LANDSCAPE + TABLET == 67% */
@media (max-width: 960px) {
  .pag-inicial {
    width: calc(200% / 3);
  }
}

/* PHONE PORTRAIT == 100% */
@media (max-width: 599px) {
  .pag-inicial {
    width: 100%;
  }
}

.pag-inicial > :first-child {
  margin-bottom: 8vmin;
}

.pag-inicial .busca > :first-child {
  margin-bottom: 6vmin;
}
